# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\curs_java\Course7\Homework7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
